Rephrase to a problem statement about {{story}} and rephrase it into story format accordingly: {{question}}. Also here is the solution code of the same: {{code}}.
The constrainst should have a upper limit of 10^5.