Rephrase the given coding question: {{question}} to a competitive coding question whihc has the story integrated with it: {{story}}. 
Also here is the solution code of the same: {{code}}.
The constrainst should have a upper limit of 10^5.
